.page
{
    background-color: powderblue;
    padding:20px;
    margin: 2px solid skyblue;
    border: 2px solid skyblue;
}
.body 
{
    color:black;
    font-size: 20px;
    font-family: courier;
    padding:20px;
}
.heading
{
    color: black;
    font-size: 20px;
    font-family: Verdana;
    padding:20px;
}