/* Date view button in small devices */
@media (max-width: 768px) {
  .trigger {
    margin-top: 10px;
  }
  #down1 {
    display: none;
  }
}

@media (min-width: 768px) {
  #down1 {
    visibility: hidden;
  }
}

.download {
  float: inline-end;
}

tbody,thead{
  text-align:center;
}

